{{#extends "base"}}

  {{#block "content"}}
    <h1 class="display-2 mt-1">User Profile</h1>
    <ul class="d-flex justify-content-center align-items-center">
      <li>Username: {{user.username}}</li>
      <li>Email: {{user.email}}</li>
    </ul>
  {{/block}}

{{/extends}}